@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
@import url('https://fonts.googleapis.com/css?family=VT323');

* {
  font-family: 'Share Tech Mono', monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
  color: #33ccff;
}

h1, h2 {
  letter-spacing: .2rem;
  text-align: center;
}

#clock {
  position: relative;
  width: 380px;
  top: 30%;
  margin: 0 auto;
}

#clock .title {
  font-size: 3rem;
}

#clock .subtitle {
  margin-bottom: 32px;
}

.column {
  float: left;
}

.time {
  position: relative;
}

.time.minutes {
  left: 64px;
}

.time.seconds {
  left: 128px;
}

.bit {
  width: 48px;
  height: 48px;
  margin: 8px;
  background: #33ccff;
  box-shadow: 0 0 16px #33ccff;
  transition: all .5s ease-out;
}

.bit.blank {
  background: black;
  box-shadow: none;
}

@media screen and (min-width: 375px) {
  .bit {
    width: 32px;
    height: 32px;
    margin: 4px;
  }
}
