@import url('https://fonts.googleapis.com/css?family=VT323');

* {
  font-family: 'VT323', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: black;
}

#clock {
  position: absolute;
  width: 480px;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -50%);
}

.column {
  float: left;
}

.time h1 {
  position: relative;
  color: #33ccff;
  font-size: 2.5rem;
  letter-spacing: .2rem;
  font-weight: lighter;
  text-align: center;
}

.time.minutes {
  position: relative;
  left: 64px;
}

.time.seconds {
  position: relative;
  left: 128px;
}

.bit h3 {
  position: relative;
  top: 16px;
  font-size: 2rem;
  text-align: center;
  color: white;
}

.bit {
  width: 48px;
  height: 48px;
  margin: 8px;
  background: #33ccff;
  box-shadow: 0 0 16px #33ccff;
  transition: all .5s ease-out;
}

.bit.blank {
  background: black;
  box-shadow: none;
}
